.button {
  display: inline-block;

  &__content {
    $this: &;
    padding: 0.5rem;
    border: 1px var(--button-border-color) solid;
    border-radius: 0.2rem;
    background-color: var(--button-color);
    color: var(--text-color);
    cursor: pointer;
    &--disabled {
      @extend #{$this};
      opacity: 0.3;
      cursor: not-allowed;
    }

    &--primary {
      @extend #{$this};
      border: 1px var(--primary-color) solid;
      background-color: var(--primary-color);
      color: white;
    }

    &--danger {
      @extend #{$this};
      border: 1px var(--danger-color) solid;
      background-color: var(--danger-color);
      color: white;
    }
  }
}
