.container {
  margin: 1rem 0;

  &__wrapper {
    $this: &;
    border: 1px var(--container-border-color) solid;
    border-radius: 0.2rem;
    &--primary {
      @extend #{$this};
      border-color: var(--primary-color);
    }
    &--warning {
      @extend #{$this};
      border-color: var(--warning-color);
    }
    &--danger {
      @extend #{$this};
      border-color: var(--danger-color);
    }
  }

  &__header {
    $this: &;
    padding: 0.5rem;
    background-color: var(--container-color);
    border-bottom: 1px var(--container-border-color) solid;
    &--primary {
      @extend #{$this};
      background-color: var(--primary-color-transparent);
      border-bottom: 1px var(--primary-color) solid;
    }
    &--warning {
      @extend #{$this};
      background-color: var(--warning-color-transparent);
      border-bottom: 1px var(--warning-color) solid;
    }
    &--danger {
      @extend #{$this};
      background-color: var(--danger-color-transparent);
      border-bottom: 1px var(--danger-color) solid;
    }
  }

  &__content {
    $this: &;
    padding: 0.5rem;
    &--primary {
      @extend #{$this};
    }
    &--warning {
      @extend #{$this};
    }
    &--danger {
      @extend #{$this};
    }
  }
}
