.dropdown {
  &__button {
    cursor: pointer;
  }

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  &__body {
    border-radius: 4px;
    background: white;
    color: black;
    padding: 0.4rem;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  }

  &__arrow {
    &::before {
      position: absolute;
      width: 8px;
      height: 8px;
      background: inherit;
      visibility: visible;
      content: "";
      transform: rotate(45deg);
    }
    position: absolute;
    top: -4px;
    right: 8px;
    width: 8px;
    height: 8px;
    background: inherit;
    visibility: hidden;
  }
}
