.footer {
  background: var(--footer-color);
  color: var(--footer-text-color);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  &__paragraph {
    margin: 0.5rem;
  }

  &__link {
    color: var(--footer-text-color);
  }
}
