.fu-detail {
  &__fu-item {
    $this: &;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    &:not(:last-child) {
      border-bottom: 1px var(--container-border-color) dashed;
    }

    img {
      width: 24px;
    }
  }

  &__fu-item-detail {
    $this: &;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
