.header {
  display: flex;
  background: var(--header-background);
  color: white;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 1.5rem;
    margin: 1rem;
  }

  &__link {
    display: inline-block;
    margin: 1rem 1rem 1rem 0;
    color: white;
  }
}
