.hora-item {
  border: 1px var(--container-border-color) solid;
  border-radius: 0.5rem;
  padding: 0.5rem;

  &:not(:first-child) {
    margin-top: 0.5rem;
  }

  &__summary {
    $this: &;
    display: flex;
    align-items: center;
  }

  &__hora-type {
    $this: &;
    margin: 0.5rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    &--tsumo {
      @extend #{$this};
      color: crimson;
      border: 1px crimson solid;
    }
    &--ron {
      @extend #{$this};
      color: royalblue;
      border: 1px royalblue solid;
    }
  }

  &__total-score {
    $this: &;
    display: flex;
    align-items: baseline;
    font-size: 150%;
    &--none {
      @extend #{$this};
      color: var(--secondary-color);
    }
  }

  &__plus-point {
    $this: &;
    font-size: initial;
  }

  &__score-badge {
    $this: &;
    font-size: initial;
    margin: 0.2rem 1rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    color: white;
    &--mangan {
      @extend #{$this};
      background: royalblue;
    }
    &--haneman {
      @extend #{$this};
      background: green;
    }
    &--baiman {
      @extend #{$this};
      background: darkorange;
    }
    &--sambaiman {
      @extend #{$this};
      background: crimson;
    }
    &--yakuman {
      @extend #{$this};
      background: blueviolet;
    }
  }

  &__detail-header {
    $this: &;
    display: flex;
    margin-top: 0.5rem;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    &:before {
      content: "";
      margin-right: 1rem;
      border-bottom: 1px var(--container-border-color) solid;
      flex-grow: 1;
    }
    &:after {
      content: "";
      margin-left: 1rem;
      border-bottom: 1px var(--container-border-color) solid;
      flex-grow: 1;
    }
  }

  &__yaku {
    $this: &;
    display: flex;
    justify-content: space-between;
    &:not(:last-child) {
      border-bottom: 1px var(--container-border-color) dashed;
    }
  }

  &__point-set {
    $this: &;
    font-size: 120%;
  }

  &__basic-point {
    $this: &;
    color: var(--seconday-color);
  }
}
