.segment {
  &__element {
    $this: &;
    padding: 0.5rem;
    list-style: none;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    &:not(:first-child) {
      border-left: 1px var(--primary-color) solid;
    }

    &--active {
      @extend #{$this};
      background: var(--primary-color);
      color: white;
      cursor: default;
    }
  }

  &__wrapper {
    $this: &;
    display: flex;
    border: 1px var(--primary-color) solid;
    border-radius: 0.2rem;

    &--vertical {
      @extend #{$this};
      flex-direction: column;

      & .segment__element:not(:first-child) {
        border-left: 0;
        border-top: 1px var(--primary-color) solid;
      }
    }
  }
}
