* {
  margin: 0;
  padding: 0;
}

html {
  touch-action: manipulation;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  text-size-adjust: 100%;
}

img {
  vertical-align: bottom;
}

@import "variables";

@import "blocks/button";
@import "blocks/config";
@import "blocks/container";
@import "blocks/dropdown";
@import "blocks/footer";
@import "blocks/fu-detail";
@import "blocks/header";
@import "blocks/hora-item";
@import "blocks/notify-update";
@import "blocks/segment";
@import "blocks/stepper";
@import "blocks/tile-input";
@import "blocks/tile-input-area";
@import "blocks/tile-keyboard";
